<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>My Blog - {{{post_title}}}</title>
	    <meta name="description" content="{{{post_title}}}">
	</head>
  <body>
      <div>
            <h1>{{{post_title}}}</h1>
      </div><!--/row-->
	  <div>
	        {{{post_content}}}
	        <p>Post date: {{{post_date_published}}}</p>			
	  </div><!--/row-->
      <footer>
        <p>&copy; Adler Medrado 1996-2012 | powered by <a href="http://github.com/adlermedrado/dangolino">dangolino</a> </p>
      </footer>
    </div><!--/.fluid-container-->
  </body>
</html>